:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --white-color: #FFFFFF
}
body {
    color: var(--primary-text-color);
}
a {
    text-decoration: none;
}
.list {
    list-style: none; 
}
/* Logo */
.logo {
    text-decoration: none;
}
.web { 
    color: var(--accent-color);
}
.studio-header {
    color:var(--primary-text-color);
}
/* site nav */
.nav .link {
    color: var(--primary-text-color);
}
.nav .link:hover, .nav .link:focus {
    color: var(--accent-color);
}
.contacts {
    color: var(--title-text-color);
}
.contacts:hover, .contacts:focus {
    color: var(--accent-color);
}
/* мейн */
.main-banner {
background: #2F303A;
}
.main-banner-title, .main-banner-link {
    color: var(--white-color);
}
.items-text {
    color: var(--title-text-color);
}
.team-title {
    color: var(--primary-text-color);
}
/* footer */
footer {
    background-color: #2F303A;
}
.studio-footer, .city {
    color: var(--white-color);
}

/* button */
.botton {
    color: var(--primary-text-color);
    background-color: #F5F4FA; 
}
.botton.primary {
    color: var(--white-color);
    background-color: var(--accent-color);
}

/* Палитра цветов */

/* цвет основного текста #212121, 100 % */

/* вторичный цвет текста #757575, 100 % */

/* белый цвет #FFFFFF, 100 % */

/* белый с прозрачностю rgba(255, 255, 255, 0.6) */

/* акцентный цвет #2196F3 */

/* цвет фона белый #FFFFFF */

/* цвет фона шапки и подвала #2F303A */

/* цвет фона страницы #E5E5E5 (светлый) */

/* цвет фона страницы #F5F4FA (серый) */